name: CD Pipeline

on:
    workflow_run:
        workflows: ["CI Pipeline"] 
        types: [completed]

jobs:
    deploy:
        if: >
          github.event.workflow_run.conclusion == 'success' &&
          github.event.workflow_run.event == 'push' &&
          github.event.workflow_run.head_branch == 'main'

        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Deploy to VM
              uses: appleboy/ssh-action@v1.0.0
              with:
                host: ${{ secrets.VM_HOST }}
                username: ${{ secrets.VM_USERNAME }}
                password: ${{ secrets.VM_PASSWORD }}
                script: |
                    set -xe
                    echo "Ensure /home/Centroid-Finder-App exists"
                    cd /home/Centroid-Finder-App || { mkdir -p /home/Centroid-Finder-App && cd /home/Centroid-Finder-App; }

                    echo "Pull or clone repo"
                    if [ -d "Centroid-Finder-App/.git" ]; then
                      echo "Repo exists, pulling latest"
                      cd Centroid-Finder-App
                      git pull origin main
                    else
                      echo "Repo does not exist, cloning"
                      rm -rf Centroid-Finder-App 
                      git clone https://github.com/rifflere/Centroid-Finder-App.git
                      cd Centroid-Finder-App
                    fi

                    echo "Write .env file"
                    cat > .env <<EOF
                    INPUT_FILEPATH="/home/Centroid-Finder-App/Centroid-Finder-App/backend/processor/sampleInput"
                    OUTPUT_FILEPATH="/home/Centroid-Finder-App/Centroid-Finder-App/backend/processor/sampleOutput"
                    NEXT_PUBLIC_API_BASE_URL="http://${{ secrets.VM_HOST }}:3000"
                    EOF

                    echo "Force docker close"
                    docker container prune
                    docker ps -q --filter "publish=3000" --filter "publish=3001" | xargs -r docker stop

                    echo "Ensure docker is closed, then open Docker back end"
                    docker compose down --remove-orphans
                    docker compose build --no-cache frontend
                    docker compose up -d

                    echo "Done!"