name: CI Pipeline

on:
    push: 
        branches: [ main, dev ]
    pull_request:
        branches: [ main, dev ]

jobs:
    backend-unit-tests:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up JDK 21
              uses: actions/setup-java@v4
              with:
                distribution: 'temurin'
                java-version: '21'

            - name: Build with Maven
              working-directory: ./backend/processor
              run: mvn -B clean install

            - name: Run tests
              working-directory: ./backend/processor
              run: mvn test